<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= content_for(:title) || "TODO: replace me" %></title>
  <link href="/static/stylesheets/application.css" rel="stylesheet">
  <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
  <%= content_for :template %>

  <script src="/static/javascripts/application.js"></script>
  <%= content_for :javascript %>
</body>
</html>
