
Assets setup generated on <%= month %>/<%= day %>/<%= year %>.

The installation of the assets toolchain is done.

For more information read the updated README.md file in your project folder.

Quick Start:

  * open a terminal and run (where /path/to/project is the actual path):
    $ cd /path/to/project
    $ bundle exec guard
  * open another terminal and run:
    $ cd /path/to/project
    $ mix server
  * open a browser and go to location **http://localhost:4000**

